@*
    CuaHangSP
*@
@{
}
@model List<ShopXanh.Models.SanPham>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a href="#" class="img-prod">
                    <img class="img-fluid" src="~/@item.ImageUrl" alt="Colorlib Template">
                    <span class="status"></span>
                    <div class="overlay"></div>
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">@item.Name</a></h3>
                    <div class="d-flex">
                        <div class="pricing">
                            <p class="price"><!--<span class="mr-2 price-dc"></span>--><span class="price-sale">@item.Price đ</span></p>
                        </div>
                    </div>
                    <div class="bottom-area d-flex px-3">
                        <div class="m-auto d-flex">
                            <a id="addtocart" asp-controller="Sanphams" asp-action="Details" asp-route-id="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                <span><i class="ion-ios-menu"></i></span>
                            </a>
                            <a id="buynow" href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                <span><i class="ion-ios-cart"></i></span>
                            </a>
                            <button id="heart" type="button" onclick="cookieYeuThichAdd('@item.Id')" class="heart d-flex justify-content-center align-items-center">
                                <span><i class="ion-ios-heart"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
