@{
    ViewData["Title"] = "GioiThieu";
}
<div class="hero-wrap hero-bread" style="background-image: url(@Url.Content("~/images/bg_1.jpg"));">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a asp-action="Index">Home</a></span> <span>Chính Sách và bảo mật</span></p>
            <h1 class="mb-0 bread">Chính sách và bảo mật</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class=" py-5 wrap-about pb-md-5 ftco-animate">
						<div class="heading-section-bold mb-4 mt-md-5">
	          				 <div class="ml-md-0">
						<h2 class="mb-4">Chính sách Bảo Mật của Shop Xanh</h2>
							 </div>
						</div>
						<div class="pb-md-5">
	<pre>
1 - Mục đích:
Chính sách bảo mật này được thiết lập nhằm đảm bảo rằng thông tin cá nhân của quý khách được bảo vệ một cách an toàn khi sử dụng dịch vụ của Shop Xanh. Chúng tôi cam kết tuân thủ và bảo vệ quyền riêng tư của quý khách theo cách thức tốt nhất có thể.
2 - Thu thập thông tin:
Shop Xanh thu thập thông tin cá nhân của quý khách một cách có ý thức và hợp pháp, chỉ khi quý khách cung cấp thông tin đó một cách tự nguyện qua các phương tiện như trang web, ứng dụng di động, hoặc trực tiếp qua các kênh liên lạc.
Thông tin cá nhân mà chúng tôi thu thập có thể bao gồm tên, địa chỉ email, địa chỉ giao hàng, số điện thoại, và thông tin thanh toán.
3 - Sử dụng thông tin:
Shop Xanh sử dụng thông tin cá nhân của quý khách để cung cấp các dịch vụ mà quý khách yêu cầu, bao gồm xử lý đơn hàng, giao hàng và liên lạc với quý khách về tình trạng đơn hàng.
Chúng tôi có thể sử dụng thông tin để cải thiện trải nghiệm mua sắm của quý khách và tùy chỉnh nội dung và quảng cáo trên trang web của chúng tôi.
Chúng tôi không bán, cho thuê hoặc chia sẻ thông tin cá nhân của quý khách với bất kỳ bên thứ ba nào mà không có sự đồng ý của quý khách.
4 - Bảo mật thông tin:
Shop Xanh cam kết bảo mật thông tin cá nhân của quý khách thông qua các biện pháp an ninh vật lý, kỹ thuật và quản lý phù hợp.
Chúng tôi sử dụng các công nghệ mã hóa để bảo vệ thông tin cá nhân của quý khách trong quá trình truyền tải và lưu trữ.
5 - Quyền lợi của người tiêu dùng:
Quý khách có quyền truy cập, chỉnh sửa hoặc xóa thông tin cá nhân của mình bất cứ lúc nào bằng cách đăng nhập vào tài khoản cá nhân trên trang web của chúng tôi hoặc liên hệ với chúng tôi qua email.
Nếu quý khách không mong muốn nhận thông tin quảng cáo từ chúng tôi, quý khách có thể chọn không nhận bằng cách sử dụng các tùy chọn hủy đăng ký được cung cấp trong email hoặc liên hệ trực tiếp với chúng tôi.
6 - Thay đổi chính sách:
Shop Xanh có thể điều chỉnh và cập nhật Chính sách Bảo Mật này theo thời gian mà không cần thông báo trước. Bất kỳ thay đổi nào sẽ được đăng tải công khai trên trang web của chúng tôi.
									
Chúng tôi hiểu rằng quyền riêng tư là quan trọng và cam kết đảm bảo sự tin cậy và an toàn của thông tin cá nhân của quý khách. Nếu quý khách có bất kỳ câu hỏi hoặc phản ánh nào về Chính sách Bảo Mật của chúng tôi, vui lòng liên hệ với chúng tôi qua thông tin liên lạc được cung cấp trên trang web của chúng tôi.
</pre>



						</div>
					</div>
				</div>
			</div>
		</section>