@{
    ViewData["Title"] = "GioiThieu";
}
<div class="hero-wrap hero-bread" style="background-image: url(@Url.Content("~/images/bg_1.jpg"));">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a asp-action="Index">Home</a></span> <span>Giới thiệu</span></p>
            <h1 class="mb-0 bread">Giới thiệu</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
			<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content("~/images/about.jpg"));">
						<a href="@Url.Content("~/videos/rau-mui.mp4")" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
						<h2 class="mb-4">Chào mừng đến với Shop Xanh - an eCommerce website</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
					<p>Điểm đến tin cậy cho những người yêu thích trái cây tươi ngon! 
						Tại đây, chúng tôi cung cấp một loạt các loại trái cây tươi ngon từ các vườn trái cây chất lượng nhất, 
						mang đến sự tươi mới và dinh dưỡng cho bữa ăn hàng ngày của bạn. </p>
					<p>Hãy khám phá ngay để trải nghiệm mua sắm trực tuyến tiện lợi và an toàn cùng Shop Xanh!</p>
							<p><a asp-action="CuaHang" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>