@*
    CuaHangDS
*@
@model List<ShopXanh.Models.LoaiSanPham>
<div class="row justify-content-center">
    <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
            <li><a asp-action="CuaHang" id="LoaiId-0">All</a></li>

            @foreach (var item in Model)
            {
                <li><a asp-action="CuaHang" asp-route-category="@item.Id" id='LoaiId-@item.Id'>@item.Name</a></li>
            }
        </ul>
    </div>
</div>
