@model ShopXanh.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<h1>Edit</h1>

<h4>ChiTietHoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoaDonID" class="control-label"></label>
                <select asp-for="HoaDonID" class="form-control" asp-items="ViewBag.HoaDonID"></select>
                <span asp-validation-for="HoaDonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SanPhamId" class="control-label"></label>
                <select asp-for="SanPhamId" class="form-control" asp-items="ViewBag.SanPhamId"></select>
                <span asp-validation-for="SanPhamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

